<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nozomi.mapper.BookMapper">

    <delete id="deleteByUserId" parameterType="java.util.List">
        delete from t_book where user_id in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="list" resultType="list">
        select * from t_book
        <where>
            <if test="searchFactor.bookName!=null and searchFactor.bookName!=''">
                and bookname like concat('%',#{searchFactor.bookName},'%')
            </if>
            <if test="searchFactor.author!=null and searchFactor.author!=''">
                and author like concat('%',#{searchFactor.author},'%')
            </if>
            <if test="searchFactor.bottomPrice!=null and searchFactor.topPrice!=null">
                and price between #{searchFactor.bottomPrice} and #{searchFactor.topPrice}
            </if>
            <if test="beginDate!=null and endDate!=null and beginDate!='' and endDate!=''">
                and create_time between #{beginDate} and #{endDate}
            </if>
        </where>
    </select>

</mapper>