<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ubom.mapper.UserMapper">
    <update id="update">
        update t_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="image != null and image !='' ">
                image = #{image},
            </if>
        </set>
    </update>
    <delete id="deleteById">
        delete
        from t_user
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

<!--    查询条件-->
    <select id="list" resultType="com.ubom.pojo.User">
        select id,username,user_type,nickname,email,image,create_time
        from t_user
        <where>
            <if test="userSearchFactor.id != null">
                and id = #{userSearchFactor.id}
            </if>
            <if test="userSearchFactor.username != null and userSearchFactor.username!=''">
                and username like concat('%', #{userSearchFactor.username}, '%')
            </if>
            <if test="userSearchFactor.nickname != null and userSearchFactor.nickname!=''">
                and nickname like concat('%', #{userSearchFactor.nickname}, '%')
            </if>
            <if test="userSearchFactor.email != null and userSearchFactor.email!=''">
                and email like concat('%', #{userSearchFactor.email}, '%')
            </if>
            <if test="userSearchFactor.userType != null">
               and user_type = #{userSearchFactor.userType}
            </if>
            <if test="beginDate!=null and endDate!=null">
                and create_time between #{beginDate} and #{endDate}
            </if>
        </where>
    </select>
</mapper>